manifest {
    name = 'GREEN-VARAN annotation'
    description = 'Annotation of regulatory variants in WGS using GREEN-DB'
    mainScript = 'main.nf'
    version = '1.0.0'
    author = 'Edoardo Giacopuzzi'
    nextflowVersion = '20.10.0'
}

cleanup = true

params {
  useSingularity = true
  ncpus = 10
  max_local_jobs = 10
  queue = 'short.qc'
  // Default values for main params
  resource_folder = "$projectDir/../resources"
  greenvaran_config = "$launchDir/greenvaran_config.json"
  greenvaran_dbschema = "$launchDir/greendb_schema.json"
  greenvaran_options = ""
  build = 'GRCh38'
  out = 'results'
  AF = false
  regions = false
  scores = false
  anno_toml = false
  nodownload = false
  db = false
  nochr = false
  prioritization_strategy = 'levels'
}

report {
  enabled = true
  file = "${params.out}/pipeline_report.html"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/well/gel/HICF2/software/singularity"
}


includeConfig 'config/resources.conf'

profiles {
  local {
    executor {
      name = 'local'
      queueSize = params.max_local_jobs
    }
    process {
      withLabel: multicore {
        cpus=params.ncpus
      }
      withLabel: singlecore {
        cpus=1
      }
    }
  }

  sge {
    executor {
      name = 'sge'
      queueSize = 200
      pollInterval = '2 min'
      queueStatInterval = '2 min'
      dumpInterval = '2 min'
    }
    process {
      withLabel: multicore {
        queue = params.queue
        cpus = params.ncpus
        memory = 64.GB
      }
      withLabel: singlecore {
        queue = 'short'
        cpus = 1
        memory = 16.GB
      }
    }
  }

  lsf {
    executor {
      name = 'pbs'
      queueSize = 200
      pollInterval = '1 min'
      queueStatInterval = '1 min'
      dumpInterval = '1 min'
    }
    process {
      withLabel: multicore {
        queue = params.queue
        cpus = params.ncpus
        memory = 64.GB
      }
      withLabel: singlecore {
        queue = 'short'
        cpus = 1
        memory = 16.GB
      }
    }
  }

  slurm {
    executor {
      name = 'slurm'
      queueSize = 200
      pollInterval = '1 min'
      queueStatInterval = '1 min'
      dumpInterval = '1 min'
    }
    process {
      withLabel: multicore {
        queue = params.queue
        cpus = params.ncpus
        memory = 64.GB
      }
      withLabel: singlecore {
        queue = params.queue
        cpus = 1
        memory = 16.GB
      }
    }
  }
}